/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #2980B9, #6DD5FA); /* Improved gradient background */
}

h1 {
    font-size: 24px;
    margin: 20px 0;
    text-align: left; /* Align the text heading to the left */
    font-weight: bold; /* Make the text heading emboldened */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background with blur effect */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left; /* Align the form contents to the left */
}

label, input, select {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Error message style */
.error {
    color: #ff0000;
    font-size: 14px;
}
